
.body-content-div {
    width: 100vw;
    height: 100vh;
    display: grid;
    justify-content: center;
    align-content: center;
    padding: 0;
    position: fixed;
}

.square {
    width: 50vw;
    height: 50vw;
    min-width: 300px;
    min-height: 300px;
    max-width: 1000px;
    max-height: 1000px;
    border-radius: 2px;
    animation: change-square 3625s linear infinite;
}

#mute-btn {
  background-color: #F5F5F5;
  border: none;
  
}

    @keyframes change-square {
      0% {
        background: whitesmoke;
        opacity: 0%;
      }
      0.08% {
        background: #4CBB17;
        opacity: 100%;
      }
      0.35% {
        background: #4CBB17;
        opacity: 100%;
      }
      1.19% {
        background: #98FB98;
        opacity: 100%;
      }
      2.38% {
        background: #00AB66;
        opacity: 100%;
      }
      3.57% {
        background: #00FF7F;
        opacity: 100%;
      }
      5.95% {
        background: #C7EA46;
        opacity: 100%;
      }
      7.14% {
        background: #85BB65;
        opacity: 100%;
      }
      7.94% {
        background: #4D8C57;
        opacity: 100%;
      }
      9.52% {
        background: #9DC209;
        opacity: 100%;
      }
      10.71% {
        background: #00A693;
        opacity: 100%;
      }
      12.50% {
        background: #4AFF00;
        opacity: 100%;
      }
      13.69% {
        background: #4CBB17;
        opacity: 100%;
      }
      16.67% {
        background: #00A877;
        opacity: 100%;
      }
      21.43% {
        background: #00B140;
        opacity: 100%;
      }
      22.62% {
        background: #00755E;
        opacity: 100%;
      }
      24.40% {
        background: #8A9A5B;
        opacity: 100%;
      }
      26.19% {
        background: #00A877;
        opacity: 100%;
      }
      28.57% {
        background: #00F0A8;
        opacity: 100%;
      }
      29.76% {
        background: #006B3C;
        opacity: 100%;
      }
      31.55% {
        background: #85BB65;
        opacity: 100%;
      }
      34.13% {
        background: #4D8C57;
        opacity: 100%;
      }
      35.71% {
        background: #4CBB17;
        opacity: 100%;
      }
      37.50% {
        background: #C7EA46;
        opacity: 100%;
      }
      39.29% {
        background: #00A86B;
        opacity: 100%;
      }
      41.07% {
        background: #00A693;
        opacity: 100%;
      }
      42.86% {
        background: #007848;
        opacity: 100%;
      }
      44.64% {
        background: #4AFF00;
        opacity: 100%;
      }
      45.83% {
        background: #00FF7F;
        opacity: 100%;
      }
      47.62% {
        background: #98FB98;
        opacity: 100%;
      }
      48.81% {
        background: #00F0A8;
        opacity: 100%;
      }
      48.33% {
        background: #00a86b;
        opacity: 100%;
      }
      51.19% {
        background: #9DC209;
        opacity: 100%;
      }
      53.57% {
        background: #74C365;
        opacity: 100%;
      }
      55.36% {
        background: #2E8B57;
        opacity: 100%;
      }
      57.14% {
        background: #299617;
        opacity: 100%;
      }
      58.33% {
        background: #2E8B57;
        opacity: 100%;
      }
      60.12% {
        background: #00A86B;
        opacity: 100%;
      }
      61.90% {
        background: #00B140;
        opacity: 100%;
      }
      63.69% {
        background: #3FF000;
        opacity: 100%;
      }
      68.45% {
        background: #004B49;
        opacity: 100%;
      }
      70.24% {
        background: #2A8000;
        opacity: 100%;
      }
      71.43% {
        background: #74c365;
        opacity: 100%;
      }
      73.21% {
        background: #138808;
        opacity: 100%;
      }
      75.00% {
        background: #00A86B;
        opacity: 100%;
      }
      77.38% {
        background: #85BB65;
        opacity: 100%;
      }
      79.17% {
        background: #98FB98;
        opacity: 100%;
      }
      80.95% {
        background: #00F0A8;
        opacity: 100%;
      }
      82.74% {
        background: #8A9A5B;
        opacity: 100%;
      }
      85.12% {
        background: #4AFF00;
        opacity: 100%;
      }
      86.90% {
        background: #00A693;
        opacity: 100%;
      }
      88.69% {
        background: #00B140;
        opacity: 100%;
      }
      90.48% {
        background: #00A877;
        opacity: 100%;
      }
      92.26% {
        background: #C7EA46;
        opacity: 100%;
      }
      94.64% {
        background: #98FB98;
        opacity: 100%;
      }
      96.43% {
        background: #138808;
        opacity: 100%;
      }
      99.92% {
        background: #00B140;
        opacity: 100%;
      }
      100% {
        background: whitesmoke;
        opacity: 100%;
      }
    }