
.header-content {
    padding: 0;
    margin: 2rem;
    position: fixed;
    height: 100vh;
    display: flex;
    align-items: center;
}

.text-div {
    width: 100%;
    display: flex;
    flex-direction: column;
}

#home-btn {
    background-color: whitesmoke;
    box-shadow: inset 0 0 0 0 black;
    color: black;
    border: none;
    border-radius: 18px;
	padding: .45rem;
	margin: 0 .25rem;
    transition: background-color .3s ease-in-out, box-shadow .3s ease-in-out;
    margin-top: 1rem;
    text-align: center;
    width: 100%;
}

#home-btn:hover {
    color: whitesmoke;
    /* box-shadow: inset 200px 0 0 0 lightgray; */
    background-color: lightgray;
    cursor: pointer;
}

/* #play-btn {
    box-shadow: inset 0 0 0 0 black;
    color: black;
    border: none;
    border-radius: 18px;
	padding: .45rem;
	margin: 0 .25rem;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
    margin-top: 1rem;
    text-align: center;
}

#play-btn:hover {
    color: whitesmoke;
    box-shadow: inset 200px 0 0 0 black;
    cursor: pointer;
} */

#restart-btn {
    background-color: whitesmoke;
    box-shadow: inset 0 0 0 0 black;
    color: black;
    border: none;
    border-radius: 18px;
	padding: .45rem;
	margin: 0 .25rem;
    transition: background-color .3s ease-in-out, box-shadow .3s ease-in-out;
    margin-top: 1rem;
    text-align: center;
    width: 100%;
}

#restart-btn:hover {
    color: whitesmoke;
    /* box-shadow: inset 200px 0 0 0 lightgray; */
    background-color: lightgray;
    cursor: pointer !important;
}

#mute-btn {
    background-color: whitesmoke;
    box-shadow: inset 0 0 0 0 black;
    color: black;
    border: none;
    border-radius: 18px;
	padding: .45rem;
	margin: 0 .25rem;
    transition: background-color .3s ease-in-out, box-shadow .3s ease-in-out;
    margin-top: 1rem;
    text-align: center;
    text-decoration: none;
    width: 100%;
}

#mute-btn:hover {
    color: whitesmoke;
    /* box-shadow: inset 200px 0 0 0 lightgray; */
    background-color: lightgray;
    cursor: pointer !important;
}

.body-header-text {
    text-transform: uppercase;
    transition: all .3s ease-in-out;
}

#restart-png {
    width: 1.5rem;
}

#home-png {
    width: 1.5rem;
}

#mute-png {
    width: 1.5rem;
}